.header-section {
    display: flex;
    &__name{
        margin: 30px auto;
        text-align: center;
        &-title {
            font-family: 'Bebas Neue';
        }
    }
}

.main-navigation {
    margin: auto;
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        &-link {
            margin: 5px;
            text-decoration: none;
            color: black;
            font-family: 'Open Sans', sans-serif;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.projects {
    display: flex;
    margin: 30px auto;
    max-width: 1900px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        margin: 20px;
        &-image {
            max-width: 600px;
            width: 100%;
        }
    }

    &__details{
        margin-top: 15px;
        &-description {
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            margin-top: 5px;
        }
        &-link{
            text-decoration: none;
            font-size: larger;
            margin-top: 10px;
            color: black;
            font-family: 'Open Sans', sans-serif;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.about-me {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
    &__img {
        max-width: 500px;
        margin: auto;
        width: 100%;
        border-radius: 10px;
    }
    &__description {
        font-size: large;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        margin: 40px auto;
        max-width: 500px;
    }
}