.body-section {
  margin: 0;
}

.header-section {
  display: flex;
  background: #ffffff;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #000000;
}

.content {
  padding: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.sticky + .content {
  padding-top: 102px;
}

.header-section__name {
  margin: 10px auto;
  text-align: center;
}

.header-section__name-title {
  font-family: 'Bodoni Moda', serif;
}

.header-section__name-link {
  color: #000000;
  text-decoration: none;
}

.main-navigation {
  margin: auto;
}
.main-navigation__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.main-navigation__list-link {
  margin: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.main-navigation__list-button {
  margin: auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #B9D1E6;
  padding: 10px 30px;
  border-radius: 25px;
  color: #000000;
}

.main-navigation__list-link:hover {
  text-decoration: underline;
}

.second-section {
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin: 70px auto;
  justify-content: space-between;
}

.second-section__text {
  font-size: 50px;
}

.second-section__text-intro {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  margin: 0;
}

.second-section__text-title {
  font-family: 'Bodoni Moda', serif;
  font-style: italic;
  margin: 0;
}

.second-section__img {
  max-width: 500px;
  border-radius: 250px;
  border: 5px solid #B9D1E6;
}

@media only screen and (max-width: 1000px) {
  .second-section {
    flex-direction: column;
  }
} 

.third-section {
  background-image: url(images/feet.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.third-section__text {
  font-size: 70px;
  padding: 135px;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-family: 'Bodoni Moda', serif;
}








/* old */
.projects__item-image {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  margin: 50px;
}
.projects__details {
  max-width: 400px;
}
.projects__details-description {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  margin-top: 5px;
}
.projects__details-link {
  text-decoration: none;
  font-size: 25px;
  margin-top: 10px;
  color: black;
  font-family: 'Karla', sans-serif;
}
.projects__details-link:hover {
  text-decoration: underline;
}
.about-me {
  display: flex;
  margin: 70px auto;
  text-align: center;
  align-items: center;
  max-width: 1000px;
  flex-direction: column;
}

.landing-intro__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .about-me {
    flex-direction: row;
  }
} 

.about-me__text {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.about-me__text-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about-me__text-name {
  font-family: 'Playfair Display', serif;
  font-size: 65px;
  text-align: left;
  margin: 0;
}

.about-me__text-description {
  font-size: 30px;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .about-me__text-description{
    margin-left: 0;
  }
} 

.about-me__img {
  max-width: 500px;
  margin: auto;
  width: 100%;
}

.about-me__img-bck {
  max-width: 736px;
  margin: auto;
  display: flex;
  margin-bottom: -150px;
  border-radius: 0 90px;
  margin-top: 60px;
}

.about-me__description {
  font-size: 30px;
  font-family: 'Karla', sans-serif;
  margin: 40px;
  text-align: left;
}



.work-title {
  margin: auto;
  text-align: left;
  font-size: 25px;
  max-width: 1140px;
}

.project-name {
  text-align: center;
  font-weight: normal;
}
.project-subtitle {
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

.project-info {
  display: flex;
  margin: 120px auto;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .project-info{
    flex-direction: column;
    align-items: center;
  }
} 

.project-info__item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 300px;
}

.project-info__icon {
  font-size: 50px!important;
  color: #c5a48e;
}

.project-image {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  display: flex;
}

.project-profile {
  margin: auto;
  text-align: center;
}

.project-profile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.project-profile__img {
  max-width: 800px;
  margin: 20px;
  border-radius: 20px;
}

.project-profile__img-wrapper {
  display: flex;
} 
.project-profile__img--small {
  max-width: 400px;
}
.project-profile__img--mobile {
  max-width: 300px;
}

.project-profile__link {
  font-family: 'Karla', sans-serif;
  color: #000000;
}

.project-button {
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  background-color: #c5a48e;
  color: #ffffff;
  border-radius: 10px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.project-button:hover {
  background-color: #c5a48f;
  border-radius: 0;
}

.project-intro__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-profile__item-list {
  text-align: left;
}
/*# sourceMappingURL=primary-styles.css.map */

/* footer section */

.footer-section {
  background-color: #A56E4A;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.footer-section__title {
  
}

.footer-section__img {
  max-width: 50px;
  padding: 10px;
}